.user_input_form {
  input {
    border: 1px solid rgb(171, 189, 218);
    width: 25rem;
    font-size: 1.5rem;
    padding: 0.3rem;
    border-radius: 0.5rem;
    &:focus {
      outline-width: 0;
      background-color: white;
      box-shadow: 0 0 5px 5px rgba(167, 167, 167, 0.359);
    }
  }
}
